.suggesions {
    margin: 20px ;
}
.suggestions__title {
    color: grey;
    font-weight: bolder;
    font-size: 1rem;
}
.username__left {
    display: flex;
    align-items: center;
}
.username__info {
    display: flex;
    flex-direction: column;
}
.relation {
    color: grey;
    font-size: 1rem;
}
.suggestion__username {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.follow__button {
    color: #0095f6;
    font-size: 1rem;
    font-weight: bold;
    background: 0;
    border: 0;
}
.follow__button:hover {
    color: white;
    cursor: pointer;
}
.username {
    font-weight: 600;
    font-size: 1rem;
}
.avatar {
    margin-right: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
}
