.container {
    margin: 10vh 5vw;
    padding: 30px;
    width: 500px;
    height: 500px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.container > span {
    font-size: 2rem;
    margin-left: 6px;
}
.container > .results > h4 {
    margin-left: 14px;
    color: gray;
}
.input {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container > .input > input {
    margin: 20px 10px;
    padding: 10px;
    width: 95%;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.128);
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
.results {
    display: flex;
    flex-direction: column;
}
.results > .result__item {
    display: flex;
    align-items: center;
    padding: 10px;
}
.result__item > p {
    margin: 0 20px;
    margin-right: 100px;
}
.result__item > button {
    font-size: 1rem;
    padding-top: 10px;
    font-weight: bolder;
    color: #0095f6;
    background: #000;
    border: none;
}
.result__item > button:hover {
    color: #fff;
}