
.story {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 700px;
  margin-left: 0px;
}

.story__avatar > img {
  width: 80px;
}

.story__avatar {
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  background: linear-gradient(
    185deg,
    rgba(2, 0, 36, 1) 0%,
    #fa02ac 0%,
    rgba(241, 210, 3, 1) 96%
  );
  border-radius: 50%;
}

.story__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 10px;
}